a {
	color: #0078cc
}
.button {
	background-color: #9CD159;
	background-repeat: repeat-x;
	border: 1px solid #9CD159;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.button:active {
	background-color: #9CD159;
	background-repeat: repeat-x;
	border: 1px solid #9CD159;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow:inset 0 0 0 100px rgba(0, 0, 0, 0.05),inset 0 2px 5px 0 rgba(0, 0, 0, 0.07);
}
.disable_button {
	background-color: #E4FFC2;
	background-repeat: repeat-x;
	border: 1px solid #BDF17C;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #6EB416 !important;
	cursor:not-allowed !important;
}
ul.content-box-tabs li a:hover {
	color: #0078cc
}
.action-button span:hover {
	color: #0078cc
}
.icheckbox_flat-blue, .iradio_flat-blue {
	display: block;
	margin: 0;
	padding: 0;
	width: 20px;
	height: 20px;
	background: url("https://s3-ap-southeast-1.amazonaws.com/shophunk/cms/images/blue.png") no-repeat;
	border: 0;
	cursor: pointer
}
.icheckbox_flat-blue {
	background-position: 0 0
}
.icheckbox_flat-blue.checked {
	background-position: -22px 0
}
.icheckbox_flat-blue.disabled {
	background-position: -44px 0;
	cursor: default
}
.icheckbox_flat-blue.checked.disabled {
	background-position: -66px 0
}
.iradio_flat-blue {
	background-position: -88px 0
}
.iradio_flat-blue.checked {
	background-position: -110px 0
}
.iradio_flat-blue.disabled {
	background-position: -132px 0;
	cursor: default
}
.iradio_flat-blue.checked.disabled {
	background-position: -154px 0
}
@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (-moz-min-device-pixel-ratio:1.5), only screen and (-o-min-device-pixel-ratio:3/2), only screen and (min-device-pixel-ratio:1.5) {
.icheckbox_flat-blue, .iradio_flat-blue {
background-image:url("https://s3-ap-southeast-1.amazonaws.com/shophunk/cms/images/blue@2x.png");
-webkit-background-size:176px 22px;
background-size:176px 22px
}
}
