@keyframes blink{
  
    50%{opacity: .5;}
    100%{opacity: 1;}
    }
 
 /* common css */
body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: black;
    
}

.col-md-12{
    padding-left: 0;
    padding-right: 0;
}

.button{
    background-color: #ee5511;
    color: #ffff;
    padding: 6.5px;
}

.button:hover{
    background-color: #ef7616;
    color: #ffff;
    padding: 6.5px;
}

.gray{
    color: #898585;
}

.mtb{
    margin: 25px 0 10px;
}

.lineheight1_6{
    line-height: 1.6
}

.mt10{
    margin-top: 10px;
}

.fs16{
    font-size: 16px;
}

.padleft5px{
    padding: 0;
    padding-left: 5px;
}
.padright5px{
    padding: 0;
    padding-right: 5px;
}

/* end of common css */



/*notification CSS  */

.notification-bar {
    background: #000;
   
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8084', endColorstr='#ff79b5', GradientType=1 );
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    padding: 10px 0;
  }
  
   .notification-bar p {
    margin: 0;
    color: #fff;
    font-size: 16px;
    text-align: center;
  }
  
  .notification-bar p strong {
    color: #f9f52f;
    animation: blink 2s linear infinite;
    font-weight: 400;
  }
  
  .notification-bar p .btn {
    font-size: .7em;
    padding: 4px 12px;
    margin-left: 8px;
    border-radius: 5px;
    background: #fff90c;
    color: red;
  }
  
  
  
/* notification css Ends Here */




/* Start Of Form CSS */

#feedbackForm {
    width: 300px;
    margin: 70px 34px -65px auto;
    background: #fff;
    
    
}

form .heading{
    background-color: #29a3da;
    padding: 5px 4px;
    color: white;
    text-align: center;
}

.form_items{
    padding: 30px 25px;
}

#feedbackForm  .button{
    padding: 10px 43px;
    border: 1px;
    font-size: 22px;
}

#feedbackForm  .button:hover{
    
    background-color: #044f90;
}

.secure_text{
    font-size: 10px;
    text-align: center;
    margin: 10px 0;
}

/* End Of Form css */



/* Start of Banner CSS */


.bg_banner{
   background-image: url("../images/background.jpg");
   width: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.bg_banner .mobile_hiden {
    padding-bottom: 80px;
}

.desktop-hidden{
    display: none;
}

.hero_text {
    text-align: center;
    margin-top: 30%;
    margin-right: 24%;
}

.buy_btn{
    background-color: #ee5511;
    color: #ffff;
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 100px;
    
}
.buy_btn:hover{
    color: #ffffff;
    background-color: #F09819;
}

.stamps{
    margin-top: 0;
}


/* End of Banner CSS */


/* Start of Product Details CSS */


.product{
    text-align: center;
}

.textcentre{
    text-align: center;
}

.textcentre h1#details{
    font-size: 40px;
    margin: 40px 0;
    font-weight: 700;
}

.title{
    font-family: 'Playfair Display', serif;
}

.pincode{
    margin: 20px 0;
}

.input-group .form-control{
    width: auto;
    height: 42.5px;
}

.input-group .input-group-btn >.btn{
    font-size: 20px;

}

.input-group-btn{
    float: left;
}

.price{
    color: red;
}

.btn-grad{
    background-image: linear-gradient(to bottom, #F09819 0%, #ee5b13 100%)
}

.btn-grad:hover { 
  background-color: #F09819;
}

.strike{
    color: #898585;
}

.divtext{
    font-size: 16px;
    margin: 15px 0;
}

.card{
    border: 1px solid #ccc;
    padding: 10px;
    margin: 40px 0;
}

.card .card-header{
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

.card .card-header> h3{
    margin-top: 0;
}

.card .card-body{
    margin-top: 10px;
}

.alertTxt{
    color: red;
    font-weight: 600;
}


/* End of Product Details CSS */


/* Start of Reviews CSS */


#reviews{
  background-color: #e2e0e0;
}

#reviews h1{
    font-size: 40px;
    font-weight: 700;
    margin-top: 30px;
}

#reviews .heading p{
    font-size: 20px;
}

.marginb{
    margin-bottom: 25px;
}

.overall_rating{

     background: white;
     padding: 35px 50px;
     margin: 25px auto;
}

.individual_Rating{
    margin-top: 25px;
}

.yellow{
     color: #ffcc00;
}

 

.date{
     color: #898585;
     font-size: 10px;
     padding-right: 5px;
}

.user_name{
    font-size: 16px;
    padding-right: 5px;
}

.blue,.user_name{
    color:#044f90;
    font-weight: 700;
    
}

.customer_reviews{
    background: white;
    padding: 50px 50px;
    
}
 
.customer{
    border: 1px solid #ccc;
    padding: 10px 0;
    margin: 5px 0;
}
.customer .col-md-1 >img{
    margin-left: 5px;
}

.customer .col-md-11> p{
    font-weight: 200;
}

/* End of Reviews CSS */

/* Start of Footer CSS */

 
footer{
     background-color: #043e71;
     color: white;
}
.note{
     color: #ccc;
     margin-top: 15px;
}

.nav_links {
    text-align: center;
    margin: 33px 0 0px;
}

.nav_links> a:hover {
    color: #fff;
}

footer a{
     color: #ffffff;
     padding: 0;

}
footer a:hover{
     color: #fff;
}
footer a:focus{
    color: #ffffff;
    text-decoration: none;
    outline: 0px auto -webkit-focus-ring-color;

}

.social{
    margin: 20px 0 0;
}

.social a{
    padding: 0 10px;
}

footer .wrapper{
    padding: 10px 0;
}

footer .fstamp{
    margin-top: 24px;
}

.footer2{
     background-color: black;
     text-align: center;
     padding: 10px 0;
}

.footer2 p{
    margin: 10px 0 10px;
}

.footer2 a{
    color: #fff;
    padding: 0 5px;
    font-size: 15px;
}
.footer2 a:hover{
    color: #fff;
    padding: 0 5px;
    font-size: 15px;
    text-decoration: none;
}

.footer2 a:focus{
    outline: 0px auto -webkit-focus-ring-color;
    text-decoration: none;
}

/* End of Footer CSS */


/*  Extra small devices (phones, 600px and down)  */

@media only screen and (max-width: 600px){
    
    #feedbackForm {
        width: 280px;
        margin: 20px auto;
        background: #fff;
        border: 1px solid #ccc;
    }

    #feedbackForm .button {
        padding: 10px 31px;
    }

    #feedbackForm  .button:hover{
        background-color: #044f90;
    }
    
    .margintop40{
        margin-top: 40px;
    }
    
    h1{
        font-size: 28px;
    }

    

    

    .bg_banner{
        background-image: url("../images/mobile-banner.jpg");
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 69vh;
     }

    .mobile_hiden{
        display: none
     }

    .desktop-hidden{
        display: initial;
     }

    .desktop-hidden .text_container{
        text-align: center;
        margin: 15px 0;
        margin-left: 0;
     }

    .desktop-hidden .text_container .hero_text{
        margin-top: 30%;
        margin-right: 24%;
    }

    .desktop-hidden .text_container h1{
        font-size: 24px;
    }
    
    .desktop-hidden .text_container h2{
        font-size: 20px;
    }

    .desktop-hidden .text_container .buy_btn{
        font-size: 16px;
    }

    .hero_text {
        text-align: center;
        margin-top:0; 
        margin-right: 0%;
    }

    .hero_text h1, h2{
        margin: 14px 0;
    }

    .desktop-hidden .text_container .hero_text {
        margin-top:0;
        margin-right: 0;
    }

    /* .product {
        text-align: center;
        
    } */

    .product img{
        height: 300px;
    }

    .buy_btn {
        background-color: #ee5511;
        color: #ffff;
        font-size: 15px;
        padding: 10px 25px;
        border-radius: 100px;
    }

    .alertTxt {
        color: red;
        font-weight: 600;
        font-size: 12px;
    }

    .margin70{
        margin: 70px 0;

    }

    #reviews h1 , .textcentre h1#details {
        font-size: 25px;
    }
    #reviews .heading p {
        font-size: 16px;
    }

    .customer{
        margin: 14px 0;
    }
    .customer .col-md-1{
        text-align: center;
    }

    .customer img.img-responsive{
        display: inline-block;
        border-radius: 35px;
    }

    .customer .col-md-11{
        text-align: center;
        margin-top: 20px;
    }

    footer .fstamp{
        margin: 30px 0 0;
    }
    footer .col-xs-12{
        margin: 10px 0;
    }

 }


