/* 
* BASIC STYLE
  - General Style    
  - Headings Style    
  - Button Style    
  - Form Style    
  - Spacer Style
      
* HEADER 
  - Header Style
  - Navigation Menu Style
  - Megamenu Style

* CONTANT
  - Banner Style
  - Bread-crumb
  - Sub-banner
  - Product Box
  - Site Services Features Block
  - Special Product Block
  - Custom News Letter
  - Testimonial
  - Blog
  - Brand-Logo
  - Sidebar
  - Sorting
  - Product Detail Page
  - Cart Page
  - Checkout Page
  - Login Register Page
  - Account Page
  - Blog Page
  - About Page
  - 404 Page
  - Contact Page

* FOOTER
*/

/*@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');*/
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

::-moz-selection {
    background-color: #79c753
;
    color: #FFF;
}

::selection {
    background-color: #79c753
;
    color: #FFF;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    line-height: 22px;
    color: #000;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    /* letter-spacing: 1px; */
}

.container {
    padding-left: 0px;
    padding-right: 0px;
	/*background:#FFF;
	box-shadow: 0 0 3px 1px rgba(0,0,0,0.18);	*/
}

.no-js #loader {
    display: none;
}
.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../image/Preloader_2.gif) center no-repeat #fff;
}

.main {
    position: relative;
    overflow: hidden;
}

img {
    height: auto;
    max-width: 100%;
    border: none;
    outline: none;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.img-thumbnail {
    background-color: transparent;
    padding: 0;
    border: none;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
}

a, a:focus, a:active, a:link, img {
    outline: none;
    text-decoration: none;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #000;
    transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
}

    a:hover {
        color: #336504;
        text-decoration: none;
        transition: all 0.25s ease 0s;
        -moz-transition: all 0.25s ease 0s;
        -webkit-transition: all 0.25s ease 0s;
        -o-transition: all 0.25s ease 0s;
    }

br {
    font-size: 0;
    line-height: 0;
}

hr {
    margin-bottom: 0px;
    margin-top: 0px;
    border-top: 1px solid #dedede;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.footer hr {
    border-color: #c7c7c7;
}


ul {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0;
}

.position-r {
    position: relative;	
}

.position-s {
    position: static;
}

.align-center {
    text-align: center;
}

.dark-bg h1, .dark-bg h2, .dark-bg h3, .dark-bg h4, .dark-bg h5, .dark-bg h6, .dark-bg p {
    color: #fff;
}

.dark-bg {
    background: #2a2931;
    color: #fff;
}

.gray-bg {
    background: #f5f5f5;
}

.middle-800 p {
    display: inline-block;
    max-width: 800px;
}
.middle-580 p {
    display: inline-block;
    max-width: 580px;
}


/* - Headings Style   //---------------- */
/* default font size */
.fa {
	font-size: 14px;
}

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #1a1a1a;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 10px;
    letter-spacing: 0px;
}

/* Override the bootstrap defaults */
h1 {
    font-size: 43px;
    letter-spacing: 1px;
    line-height: 40px;
}

h2 {
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 20px;
    text-transform: capitalize;
    font-weight: 500;
}

h3 {
    font-size: 20px;
    line-height: 32px;
}

h2.heading {
    font-size: 22px;
    line-height: 32px;
}

h4 {
    font-size: 17px;
    line-height: 22px;
}

h5 {
    font-size: 15px;
    line-height: 23px;
    font-weight: 600;
}

h6 {
    font-size: 13px;
    line-height: 17px;
    font-weight: 600;
}

.heading-part {
    position: relative;
}

.heading-part:before {
    border-top: 36px solid #eaeaea;
    content: "";
    left: 0;
    position: absolute;
    top: 2px;
    width: 100%;
}

h2.main_title {
    background: #75b239;
    color: #fff;
    display: inline-block;
    padding: 3px 40px 3px 10px;
    font-size: 20px;
    position: relative;
    margin-bottom: 0;
}

h2.main_title:before {
    border-bottom: 20px solid transparent;
    border-right: 20px solid #eaeaea;
    border-top: 20px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
 }

.heading-part span {
    background: url("../image/title-icon.png") no-repeat scroll 0 0;
    width: 42px;
    height: 42px;
    display: inline-block;
    margin-bottom: -11px;
    margin-right: 10px;
}
.heading-bg h2.heading {
    border-bottom: 1px solid #f0f0f0;
    padding: 0 17px 8px 0;
}

/* - Button Style  //----------------*/ 

.btn, button {
    padding: 10px 20px;
    line-height: 16px;
    font-size: 15px;
    font-weight: 400;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;	
}

.btn.full {
    width: 100%;
    text-align: center;
}

.btn.big-width {
    padding: 13px 30px;
}

.btn.big {
    padding: 18px 30px;
}

.btn.small {
    padding: 5px 10px;
}

.btn i.fa {
    font-size: 18px;
    margin: 0 5px;
}

.btn-black {
    color: #fff !important;
    background: #2a2931 !important;
    border: none;
}

    .btn-black:hover {
        color: #fff !important;
        background: #79c753
 !important;
    }

.btn-color {
    color: #fff !important;
    background: #4fbe13;
}

    .btn-color:hover {
        color: #fff !important;
        background: #ef4056;
    }


.btn-white {
    color: #2a2931;
    background: rgba(255,255,255,1);
    border: none;
}

    .btn-white:hover {
        color: #fff;
        background: #2a2931;
    }



/* - Form Style */ 
select {
    background: url(../image/select-icon.png) no-repeat scroll right 50% #fff !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #eaeaea;
    padding: 7px 24px 7px 5px;
}

.full select {
    width: 100%;
}

.main-form input, .main-form textarea, .main-form select {
    background: #fff;
    padding: 8px 15px;
    width: 100%;
    border: 1px solid #eaeaea;
    min-height: 40px;
}

.check-box label {
    color: #2a2931;
    display: inline;
    font-size: 15px;
    font-weight: 400;
}

.checkout-section .check-box input[type="checkbox"] {
    margin: 5px 0 0;
    min-height: 1px;
}



/* - Spacer Style  //---------------- */

.right-side {
	float: right;
}

.left-side {
	float: left;
}



.plr-8 {
    padding-left: 8px;
    padding-right: 8px;
}

.mlr_-8 {
    margin-left: -8px;
    margin-right: -8px;
}



.plr-20 {
    padding-left: 10px;
    padding-right: 10px;
}

.mlr_-20 {
    margin-left: -10px;
    margin-right: -10px;
}

.ptb-250 {
    padding-top: 250px;
    padding-bottom: 250px;
}

.plr-25 {
    padding-left: 25px;
    padding-right: 25px;
}

.mlr_-25 {
    margin-left: -25px;
    margin-right: -25px;
}


.ptb-85 {
    padding-top: 85px;
    padding-bottom: 85px;
}

.pt-85 {
    padding-top: 85px;
}

.pb-85 {
    padding-bottom: 85px;
}

.ptb-65 {
    padding-top: 65px;
    padding-bottom: 65px;
}

.pt-65 {
    padding-top: 65px;
}

.pb-65 {
    padding-bottom: 65px;
}

.ptb-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.pt-30 {
    padding-top: 30px;
}

.pb-30 {
    padding-bottom: 30px;
}

.p-0 {
    padding: 0px;
}

.mtb-60 {
    margin-top: 60px;
    margin-bottom: 60px;
}

.mt-60 {
    margin-top: 60px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mtb-40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.mt-40 {
    margin-top: 40px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mtb-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mtb-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.m-0 {
    margin: 0px;
}


/* - Newsletter   //----------------- */
.modal {
    padding: 0 !important;
    display: block;
    height: 100%;
}
.modal-lg {
    /*display: table;
    height: 400px;*/
    margin: auto;
    width: 790px;
    max-width: 100%;
    top: 50%;
    transform: translateY(-50%) !important;
}
.modal-body {
    padding: 0;
}
.modal-main {
    display: table-cell;
    vertical-align: middle;
}
.modal-content {
    background-color: transparent;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
    margin: 0 auto;
}

.modal-content .newsletter-inner button {
    /* position: relative; */
    background: url(../image/sprite.png) no-repeat scroll -85px -787px;
    top: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    height: 60px;
    font-size: 0;
    width: 66px;
}

.modal-content .modal-footer {
    border: none;
    padding: 0;
}

#newslater-popup {
    display: inline-flex;
    max-width: 790px;
    max-height: 600px;
    margin: 0 auto;
    position: relative;
}

.nl-popup-main {
    color: #313038;
    background: #fff;
    padding: 90px 50px;
    /* border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    height: 550px; */
}

.modal-footer button {
    background: #79c753
;
    border: none;
    color: #fff;
    padding: 11px 10px;
    position: absolute;
    right: 0;
    top: 0;
}

.nl-popup-inner {
    max-width: 370px;
    margin: 0 auto;
}

.nl-popup-title {
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 30px;
    text-transform: uppercase;
}

.nl-popup-main .sub-text {
    /* font-size: 25px;
    line-height: 35px; */
    margin: 0 0 35px 0;
}

/* .email-box {
    padding-right: 48px;
    position: relative;
} */

.email-box-main {
    max-width: 360px;
    margin: 0 auto;
}

.email-box {
    position: relative;
}

.email-box input.input-text {
    background: #79c753
;
    border: none;
    color: #fff;
    text-align: center;
    padding: 6px 0 6px 16px;
    height: 60px;
    width: 100%;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    text-align: left;
    float: none;
}

.email-box input.input-text::placeholder {
    color: #fff;
}

.email-box input.input-text::-moz-placeholder {
    color: #fff;
}

/* .email-box button.email-btn {
    background: url("../image/sprite.png") no-repeat scroll -102px -217px #ffe547;
    border: medium none;
    height: 45px;
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
}

.email-box button.email-btn:hover {
    background-color: #2a2931;
    background-position: -102px -247px;
} */

#newslater-popup .mfp-close {
    background-color: #313038;
    border: 2px solid #79c753
;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    bottom: -20px;
    box-shadow: 0 0 0 6px #313038;
    color: #79c753
;
    height: 50px;
    left: 50%;
    opacity: 1;
    top: auto;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    width: 50px;
}

.newsletter-icon {
    background: none repeat scroll 0 0 #332f30;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    height: 116px;
    left: 50%;
    padding: 40px 0;
    position: absolute;
    top: -60px;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    width: 116px;
}

.newsletter-img {
    background: url(../image/popup-image.jpg) no-repeat scroll 0 0;
    float: left;
    width: 331px;
    height: 400px;
}


/* legend {
	font-size: 18px;
	padding: 7px 0px
}
label {
	font-size: 12px;
	font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 12px;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 12px;
}
.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
} */



/* Fix some bootstrap issues */
/* span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}

.nav-tabs {
	margin-bottom: 15px;
}
 */

/* - Header Style    //---------------- */


div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
	text-decoration: none;
	color: #ffffff;
	background-repeat: repeat-x;
}

header {
    background: #f8f8f8;
    z-index: 1;
    position: relative;
}

.common-home header {
    margin-bottom: 40px;
}

.header-top {  
	display:inline-block;
	width:100%;  
	position:relative;
}

.header-bottom {
    background: #75b239;
    display: inline-block;
    margin: -6px 0;
    width: 100%;
}

.header-right-part {
    margin: 24px 0;
    padding: 0 180px 0 20px;
    position: relative;
}

/* Header top Start */
#top {
	background: #f0f0f0;
    border-bottom: 2px solid #eaeaea;
}

.header-top-inner {
    padding: 10px 0;
}
.top-link > ul > li {
    float: left;
    line-height: 22px;
    padding: 0 15px;
}

.top-link > ul > li span, .top-link > ul > li strong {
    margin-left: 5px;
    text-transform: uppercase;
}

.top-link > ul > li .btn-group {
    display: inline;    
}

.top-link ul li a:hover, .top-link ul li a:focus, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: transparent;
}

.top-link ul li:first-child {
    padding-left: 0;
}

.top-link ul li:last-child {
    border-right: none;
    padding-right: 0;
}

#top ul.dropdown-menu {
    background: #fff;
    border: none;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    top: calc(100% + 8px);
}

#top ul.dropdown-menu li button {
    padding: 3px 20px;
}

#top #form-currency .currency-select,
#top #form-language .language-select {
	text-align: left;
}
#top #form-language .dropdown-menu {
	right:0px;	
}

#top #form-language ul li .btn{
	border:0 none;
}
/* #top #form-language .btn img{
    margin-right:8px;
} */
#top #form-currency .currency-select:hover,
#top #form-language .language-select:hover {
	color: #79c753;
}
#top .btn-link{
	color: #000;
	text-decoration: none;
    padding: 0;
    font-weight: 400;
    margin-right: 0px;
}
#top .btn-link i.fa {
    font-size: 14px;
}
#top .btn-link:hover, #top-links a:hover {
	color: #79c753;
}
.top-responsive{
	display:none;
}
/* #top-links .dropdown-menu a {
	text-shadow: none;
} */
#top-links .dropdown-menu a:hover {
	color: #79c753;
}
#top .btn-link, #top .btn-link strong, #top .btn-link span {
	font-size: 13px;
    line-height: 20px;
    font-weight: 400;
}
#top-links, #top-links .fa {
	font-size: 13px;
}
#top-links a + a {
	margin-left: 15px;
}
/* Header top End */

/* logo */
#logo {
	padding: 28px 0;
}
/* search */
#search {
    margin-bottom: 0px;
}
.header_search {
    cursor: pointer;
    position: relative;
}
.haeder_search_image {
    display: block;
    height: 50px;
    width: 0px;
}
.category-dropdown {
    left: 0;
    position: absolute;
    top: 0;
}
.category-dropdown select {
    border: 2px solid #79c753;
    height: 45px;
    width: 250px;
}
.search-box {
    padding-right: 43px;
    position: relative;
}
.search-box input.input-text {
    border: 2px solid #79c753;
    height: 45px;
    padding: 6px;
    transition: all 0.4s ease 0s;
    width: 100%;
}
.search-box .search-btn {
    background: #75b239 url("../image/sprite.png") no-repeat scroll -3px -83px;
    border: medium none;
    height: 45px;
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
}
.search-box .search-btn:hover {
    /* background-color: #262626; */
    background-position: -3px -118px;
}

/*Live-Search*/
.live-search {
    width:100%;
    position:absolute;
    z-index:1000;
    padding:5px 0px;
    /* margin-top: 40px; */
    top: 100%;
    background-color:#FFF;
    /* border: 1px solid #DDD;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 2px 2px #DDDDDD; */
    left: 0;
    display:none;
}
.live-search .loading{
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.live-search ul {
    list-style-type: none;
    margin:0px;
    padding:0px;
    max-height: 377px;
    overflow: auto;
}
.live-search ul li {
    border-bottom: 1px solid #e1e1e1;
    cursor:pointer;
    display: inline-table;
    padding:10px;
    /* margin:0px 5px; */
    background-color:#FFF;
    min-height:40px;
    clear:both;
    width: 100%;
}
/* .live-search ul li:nth-child(even) {
    background-color: #FAFAFA;
} */
.live-search ul li:hover {
    background-color:#F0F7FA;
}
.live-search ul li a{
    text-decoration: none;
    display:block;
}
.live-search ul li .product-image{
    float:left;
    margin-right:5px;
}
.live-search ul li .product-name p{
    font-weight: normal;
    font-style: italic;
    margin:0px;
    padding:0px;
}
.live-search ul li .product-name{
    font-weight: bold;
    float: left;
    width:50%;
}
.live-search ul li .product-price {
    text-align: right;
    font-size: 12px;
    font-weight: bold;
    float:right;
    margin-top:10px;
    width:25%;
}
.live-search ul li .product-price .price{
    color: #333333;
    display:block;
}
.live-search ul li .product-price .special{
    color: #FF0000;
    text-decoration: line-through;
    display:block;
}

.live-search .product-price > .special {
    margin-top: -5px;
}

.live-search .result-text{
    font-weight: bold;
    text-align: center;
    font-size: 11px;
    line-height: 20px;
    background-color:#302f37;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
}
.live-search .view-all-results:hover {
    color: #79c753
;
}
.live-search .view-all-results {
    color: #fff;
}

/* header Shipping */
.header-right-part .shipping-icon {
    width:145px;
    float: left;
}

.header-right-part .header-right-text, #cart-total {
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    display: inline-block;
    text-transform: uppercase;
}

.header-right-part .header-price, .cart-total-price {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    line-height: 18px;
}

.header-price a{
	color:#fff;
}

.header-right-part span.icon {
    background: transparent url("../image/sprite.png") no-repeat scroll 0 0;
    display: inline-block;
    height: 22px;
    transition: all 0.4s ease 0s;
    width: 22px;
}

.header-right-part .shipping-icon span.icon {
    background-position: -54px -151px;
    float: left;
    margin-right: 10px;
    position: relative;
}
.header-right-part .shipping-icon:hover > a span {
    background-position: -54px -192px;
}

/* cart */
#cart {
	margin-bottom: 0;
    padding-left: 30px;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}
#cart .dropdown-menu tr {
    background-color: transparent;
    border-color: #3d3d3d;
}
#cart .dropdown-menu .table-striped tr td:first-child {
    padding-left: 0;
}

#cart .dropdown-menu .table-striped tr:first-child td {
    border-top: none;
    padding-top: 0;
}

#cart .dropdown-menu tr td:last-child {
    padding-right: 0;
}
.header-right-part #cart span.icon {
    background-position: -54px -234px;
    float: left;
    margin-right: 10px;
    position: relative;
}

/* .header-right-part #cart:hover span.icon {
    background-position: -54px -278px;
} */

#cart > .btn {
    background: #75b239;
    border: none;
    box-shadow:none;
	font-size: 15px;
	line-height: 18px;
	color: #FFF;
    padding: 12px 15px;
    text-align: left;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
}
#cart.open > .btn {
	/* background-image: none;
    background-color: #FFFFFF;
    border: 1px solid #E6E6E6;
    color: #666;
    box-shadow: none;
    text-shadow: none; */
}
#cart > .btn:hover {
	background: #79c753;
}

#cart .dropdown-menu .btn {
    font-size: 15px;
}

#cart-total {
    display: inline-block;
    margin-top: 0px;
}
#cart-total .cart-total {
    display: inline-block;
}

#cart > .btn small.cart-notification {
    float: left;
}
#cart .dropdown-menu {
	background: #fff;
    border: none;
    -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
    /*color: #fff;*/
    padding: 35px 25px;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    width: 330px;
	z-index: 1001;
}
#cart .dropdown-menu {
	min-width: 100%;
}

/* @media (max-width: 478px) {
	#cart .dropdown-menu {
		width: 100%;
	}
} */
#cart .dropdown-menu table {
	margin-bottom: 10px;
}
/* #cart .dropdown-menu li > div {
    min-width: 427px;
    padding: 0 10px;
} */
/* @media (max-width: 478px) {
	#cart .dropdown-menu li > div {
		min-width: 100%;
	}
} */
#cart .dropdown-menu li p {
	margin: 20px 0 0;
}

#cart .dropdown-menu li table .btn {
    padding: 0;
}

#cart .dropdown-menu li .table-bordered, #cart .dropdown-menu li td {
    border-color: #bfbfbf;
}
#cart .dropdown-menu li td .cart-pro-detail {
    padding: 3px 0;
}
#cart .dropdown-menu li .table-bordered td {
    padding: 5px 7px;
}

#cart .dropdown-menu li p .btn i.fa {
    margin: 0;
}

/* menu */
#wrapper.toggled #page-content-wrapper {
    position: inherit;
}

.hamburger {
    background-color: transparent;
    position: absolute;
    top: 25px;
    right: 5px;
    padding: 0;
}
#sidebar-wrapper {
    background: #222;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #79c753
;
}
.overlay {
    background-color: transparent;
}
#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}
.sidebar-nav {
    width: 250px;
}

#menu {
    /* background-color: #229ac8;
    background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
    background-repeat: repeat-x;
    border-color: #1f90bb #1f90bb #145e7a;
    min-height: 40px; */
	padding:0px;
    border: none;
}

.navbar {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    margin-bottom: 0;
}

.navbar-collapse {
    padding: 0;
    position: relative;
    width: 100%;
}

#menu .nav > li {
    padding: 0 25px;
}

#menu .nav > li:hover, #menu .nav > li.active {
    background: #336504;
}

#menu .nav > li > a {
    color: #fff;
    padding: 16px 0;
    line-height: 20px;
	font-size:15px;
    background-color: transparent;
    text-transform: capitalize;
    position: relative;
}

#menu .nav > li.dropdown > a::after {
    border-color: transparent transparent #79c753
;
    border-style: solid;
    border-width: 11px;
    bottom: 0;
    content: "";
    left: 50%;
    opacity: 0;
    position: absolute;
    transform: translateX(-50%);
    transition: all 0.4s ease 0s;
}

#menu .nav > li.dropdown:hover > a::after {
    opacity: 1;
}

#menu .nav > li:first-child > a:before{
    content:inherit;
}
#menu .nav > li > a:hover, #menu .nav > li.open > a {
    text-decoration: none;
}
#menu .dropdown-menu {
    border: 0 none;  
    color: #a4a4a4;    
    left: 0;
    min-width: 606px;
    padding: 0px;
    z-index: 999;
    position: absolute;
    text-align: left;    
    display:none;   
    height:0;
}

#menu .dropdown-menu-small {
    width: 250px;
    min-width: 1px;
}

#menu .dropdown-menu-small .dropdown-inner ul {
    width: 100%;
}

#menu .dropdown-inner {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow : 0 0 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow : 0 0 10px rgba(0, 0, 0, 0.2);
    -o-box-shadow : 0 0 10px rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid #79c753;
    display: block;
    overflow: hidden;
    padding: 30px;
    position: relative;
}

/* #menu .dropdown-inner:after {
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25) inset;
    content: "";
    height: 10px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
} */

#menu .dropdown-inner ul {
    float:left;
    padding:0px;
    width:33%;  
}
#menu .dropdown-inner ul{
    margin-right:0px;
}
#menu .dropdown .dropdown-menu ul li {
    float: none;
    /* margin-right: 15px; */
    list-style: none;
}
#menu .dropdown .dropdown-menu ul li ul{
    display:inline-block;
    width:100%;
    padding:0px;
}
#menu .dropdown .dropdown-menu ul li ul li a{
   color: #878787;
    display: block;
    font-size: 14px;
    letter-spacing:0.3px;
    font-weight: 400;
    padding: 4px 0;
    margin:0px;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
	/* border-bottom:1px solid #ededed; */ 
}
#menu .dropdown .dropdown-menu ul li ul:last-child li a{
	border-bottom:0 none;
}
#menu .dropdown .dropdown-menu ul li ul li a:hover{
    color:#79c753
;
}
#menu .dropdown .dropdown-menu ul li a:hover{
    color:#a4a4a4;
    background:none;
}
#menu .dropdown .dropdown-menu ul li a {    
    color: #79c753
;
    display: block; 
    letter-spacing:0.3px;  
    font-weight: 500;
    padding-bottom: 8px;
    position: relative;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
#menu .dropdown-inner li a:hover {
    color: #FFFFFF;
}

#menu .dropdown-inner .category-image {
    display: inline-block;
    margin-top: 20px;
}

#menu .see-all {
    display: block;
    margin-top: 0.5em;
    border-top: 1px solid #DDD;
    padding: 3px 20px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 3px 3px;
    font-size: 12px;
}
#menu .see-all:hover, #menu .see-all:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #229ac8;
    background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
    background-repeat: repeat-x;
}
#menu #category {
    float: left;
    padding-left: 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
#menu .btn-navbar {
    font-size: 15px;
    font-stretch: expanded;
    color: #FFF;
    padding: 2px 18px;
    float: right;
    background-color: #229ac8;
    background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
    background-repeat: repeat-x;
    border-color: #1f90bb #1f90bb #145e7a;
}
#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
    color: #ffffff;
    background-color: #229ac8;
}

.ochow-menu-item-toggle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    color: #FFF;
    padding: 10px 15px;
}

.navbar-inverse .navbar-nav > .open > a {
    background-color: transparent;
}

.ochow-menu-item-toggle:hover {
    cursor: pointer;
}

.ochow-menu-item-toggle.ochow-close .fa-plus {
display: inline-block;
}

.ochow-menu-item-toggle.ochow-close .fa-minus {
display: none;
}

.ochow-menu-item-toggle.ochow-open .fa-plus {
display: none;
}

.ochow-menu-item-toggle.ochow-open .fa-minus {
display: inline-block;
}

.ochow-menu-item-arrow {
position: absolute;
top: 12px;
right: 5px;
color: #fff;
display:none;
}
@media (min-width: 768px) {
    #menu .dropdown:hover .dropdown-menu {
        display: block;
    }
    
}
@media (max-width: 767px) {
    #menu {
        border-radius: 4px;
    }
    #menu div.dropdown-inner > ul.list-unstyled {
        display: block;
    }
    #menu div.dropdown-menu {
        margin-left: 0 !important;
        padding-bottom: 10px;
        background-color: rgba(0, 0, 0, 0.1);
    }
    #menu .dropdown-inner {
        display: block;
    }
    #menu .dropdown-inner a {
        width: 100%;
        color: #fff;
    }
    #menu .dropdown-menu a:hover,
    #menu .dropdown-menu ul li a:hover {
        background: rgba(0, 0, 0, 0.1);
    }
    #menu .see-all {
        margin-top: 0;
        border: none;
        border-radius: 0;
        color: #fff;
    }
}

/* content       //---------------- */

/* Banner Start */
#slideshow0 {
    z-index: 0;
}

/* #content {
    min-height: 600px;
} */
/* Footer CSS Start */

.footer{
    
}

.footer, .footer a, .footer p {
    color: #fff;
}

.footer a:hover {
    color: #79c753;
}

.footer.links li a:hover {
    color: #000;
}

.footer-inner{
	/* padding: 40px 0px 0; */
	background:#f0f0f0;
	margin:50px 0 0px;
}

.site-link ul li {
    display: inline-block;
}

ul.social-icon li {
    display: inline-block;
    margin-right: 5px;
}

ul.social-icon li i.fa {
    border: 1px solid #fff;
    color: #fff;
    padding: 8px;
    font-size: 18px;
    height: 36px;
    width: 36px;
    text-align: center;
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}

.social-link ul.social-icon li i.fa {
    font-size: 18px;
    height: 36px;
    width: 36px;
    padding: 10px;
}

ul.social-icon li i.fa.fa-facebook:hover {
    color: #fff;
}

ul.social-icon li i.fa.fa-twitter:hover {
    color: #fff;
}

ul.social-icon li i.fa.fa-linkedin:hover {
    color: #fff;
}

ul.social-icon li i.fa.fa-rss:hover {
    color: #fff;
}

ul.social-icon li i.fa.fa-pinterest:hover {
    color: #fff;
}

ul.social-icon li i.fa:hover {
    background: #79c753;
    border-color: #79c753;
}

.payment{
    margin-top:8px;
}

.footer-top {
    background: #363636;
}

.footer-top .f-logo {
    margin-bottom: 25px;
}

.footer-static-block .title {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 25px;
    text-transform: uppercase;
    position: relative;
}

.footer-static-block .title::before {
    border-bottom: 2px solid #79c753;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 30px;
}

.footer-static-block ul.address-footer li {
    margin-bottom: 15px;
}

.footer-static-block ul.address-footer li:last-child {
    margin-bottom: 0px;
}

.footer-static-block ul li {
    line-height: 25px;
}

.footer-static-block .address-footer ul li {
    line-height: 22px;
}

.footer-static-block li i.fa {
    float: left;
    font-size: 16px;
    color: #79c753;
    margin-top: 3px;
}

.footer-static-block li p {
    margin-bottom: 0px;
    margin-left: 29px;
    max-width: 250px;
}

ul.tagcloud li {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}

ul.tagcloud li a {
    border: 1px solid #444444;
    display: inline-block;
    padding: 5px 10px;
}

.sidebar-block ul.tagcloud li a {
    border-color: #ebebeb;
}

ul.tagcloud li a:hover {
    border-color: #131218;
    background: #131218;
    color: #fff;
}

.footer-bottom-outer2 {
    float: right;
}

.footer-static-block li a span {
    font-size: 9px;
    float: left;
    margin-top: -1px;
    margin-right: 9px;
    color: #505050;
}

.footer-static-block li a:hover span {
    color: #79c753;
}

.footer-static-block .field {
    margin-bottom: 5px;
}

.footer-static-block input, .footer-static-block textarea {
    background-color: transparent;
    border: 1px solid #444;
    width: 100% !important;
    padding: 5px;
}

.footer-bottom .site-link li {
    display: inline-block;
}

.footer-bottom .site-link li a {
    padding: 0 12px;
}
.footer.links {
    margin: 0;
    padding: 0;
}
.footer.links li {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}
.footer.links li a {
    border-right: 1px solid #fff;
    padding: 0 5px;
    transition: all 0.3s ease 0s;
}
.footer.links li:first-child a {
    padding-left: 0;
}

.footer.links li:last-child a {
    border-right: none;
}
.copyright{
	margin-top:13px;
}
.footer-bottom{
	background:#79c753;
	padding:20px 25px;
	width:100%;
}

/* Custom News Letter CSS Start */
.footer-middle .border-l {
    border-left: 1px solid #444444;
}

#newsletter-validate-detailnew .form-group{
    display: inline-block;
    margin: 0;
    width: 100%;
}

.newsletter-title .title span {
    background: url("../image/subscibre.png") no-repeat scroll 0 0;
    width: 37px;
    height: 30px;
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
    margin-left: 25px;
}  

.newsletter-box {
    position: relative;
    padding-right: 0px;
    margin-top: 0px;
}

.newsletter-inner input {
    border: 2px solid #79c753;
	color: #fff;
	width: 320px;
	height:42px;
	padding: 6px 20px;
	margin-left: 0px;
	float:right;
}

.newsletter-inner button {
	position: absolute;
	right: 0;
	top: 0px;
	padding: 11px;
	color: #fff !important;
	background: #79c753
;
	border:0 none;
	font-weight: normal;	
	line-height: 20px;
}
/* Custom News Letter CSS End */

.copy-right {
    margin-top: 3px;
    letter-spacing: 0;
}

.payment ul li {
    display: inline-block;
	line-height:12px;
}

.payment ul li a {
    background: url(../image/sprite.png) no-repeat scroll 0 0;
    display: inline-block;
    height: 25px;
    width: 48px;
}

.payment ul li.discover a {
    background-position: -6px -684px;
}

.payment ul li.visa a {
    background-position: -6px -725px;
}

.payment ul li.mastro a {
    background-position: -6px -767px;
}

.payment ul li.paypal a {
    background-position: -6px -805px;
}
/* Footer CSS Start */
/* alert */
.alert {
	padding: 8px 14px 8px 14px;
}
/* Bread-crumb CSS Start */

.bread-crumb .page-title {
    display: inline-block;
    font-size: 18px;
    margin-bottom: 0;
    text-transform: capitalize;
}

.bread-crumb {
    background: #f0f0f0 none repeat scroll 0 0;
    border-bottom: 1px solid #eaeaea;
    padding: 30px 0px;
    margin-bottom: 10px;
}

.bread-crumb ul li {
    display: inline-block;
    position: relative;
}

.bread-crumb ul li:after {
  content: "\f105";
    font-family: FontAwesome;
    position: absolute;
    right: -5px;
}

.bread-crumb ul li:last-child:after {
    display: none;
}

.bread-crumb ul li a, .bread-crumb ul li span {
    margin: 0 10px;
    text-transform: capitalize;
}

.bread-crumb ul li a:hover {
    color: #79c753;
}

.bread-crumb ul li:first-child {
    padding-left: 0;
}
.bread-crumb ul li span {
    color: #2a2931;
}

/* Bread-crumb CSS End */
.pagination {
	margin: 0;
}

/* - Sub-banner Style  //---------------- */

.sub-banner-block .sub-banner:hover img {
    transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    /*opacity: 0.6;*/
}
.sub-banner {
    display: block;
    /*background: #000;*/
    position: relative;
    margin-bottom: 0px;
    overflow: hidden;
    max-width: 100%;
}
.sub-banner .sub-banner-detail {
    color: #282828;
    position: absolute;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
}
.sub-banner.sub-banner1 .sub-banner-detail {
  top: 10%;
}
.sub-banner.sub-banner2 .sub-banner-detail, .sub-banner.sub-banner3 .sub-banner-detail {
  bottom: 35px;
  left: auto;
  top: auto;
}
.sub-banner .sub-banner-detail .sub-banner-subtitle {
    color: #1a1a1a;
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 45px;
}
.sub-banner .sub-banner-detail .sub-banner-type {
    color: #727272;
    font-style: italic;
    font-size: 15px;
    text-transform: uppercase;
}
.sub-banner .sub-banner-detail .sub-banner-title {
    color: #1a1a1a;
    font-size: 35px;
    font-weight: 900;
    letter-spacing: 0;
    line-height: 45px;
}
.sub-banner .sub-banner-detail .sub-banner-title span {
    font-weight: 300;
}
.sub-banner6 .sub-banner-detail .sub-banner-title, .sub-banner7 .sub-banner-detail .sub-banner-title {
    font-size: 22px;
}
.sub-banner .sub-banner-detail span.line {
    background: #1a1a1a none repeat scroll 0 0;
    display: inline-block;
    height: 3px;
    margin: 35px 0;
    transform: rotate(90deg);
    width: 70px;
}
.sub-banner3 .sub-banner-detail span.line {
    margin: 50px 0;
}
.sub-banner.sub-banner4 .sub-banner-detail {
  top: 60px;
}
.sub-banner4 .sub-banner-detail .sub-banner-title {
  color: #fff;
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
}
.sub-banner4 .sub-banner-detail .sub-banner-subtitle {
    font-size: 26px;
    font-weight: 500;
    color: #fff;
}
span.sub-btn, span.sub-btn:hover {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    margin-top: 30px;
}
.sub-banner.sub-banner5 .sub-banner-detail {
  bottom: auto;
  left: -90px;
  right: auto;
  top: 110px;
  transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
}

/* list group */
.list-group a {
	border: 1px solid #DDDDDD;
	color: #888888;
	padding: 8px 12px;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
	color: #444444;
	background: #eeeeee;
	border: 1px solid #DDDDDD;
	text-shadow: 0 1px 0 #FFF;
}

/* Brand-Logo CSS Start */
.brand {
    padding: 72px 31px 31px;
}

.brand .owl-carousel .owl-wrapper-outer {
    border-right: 1px solid #f6f6f6;
}

.brand .item {
    border-right: 1px solid #e8e8e8;
    text-align: center;
}

.brand .item img {
    opacity: 0.5;
}

.brand .item img:hover {
    opacity: 1;
}
/* Brand-Logo CSS End */


/* Blog CSS Start */

.blog-main .p-0 {
    overflow: hidden;
}

.blog-widget-recent.owl-slider.blog-main.pt-30{
	position:relative;
}

.blog-widget-recent.owl-slider .owl-carousel .owl-item{
	padding: 0px;
}

.blog-carousel {
    background: #fff;
    margin: 0 auto;
    max-width: none;
}

.blog-main .blog-carousel {
    position: relative;
}

.blog-media {
    overflow: hidden;
    position: relative;
}

.blog-item .blog-media img {
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}

.blog-item:hover .blog-media img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.blog-item a.read {
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    transition: all 0.4s ease 0s;
}

.blog-item:hover a.read {
    opacity: 1;
}

.blog-item a.read:after {
    border: 2px solid #fff;
    border-radius: 50%;
    color: #ffffff;
    content: "ïƒ";
    display: inline-block;
    font-family: "FontAwesome";
    font-size: 16px;
    height: 45px;
    padding: 10px;
    text-align: center;
    width: 45px;
}

.blog-detail {
    margin-top: 13px;
}

.blog-main .blog-detail {
    margin: 0px;
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}

.blog-main .blog-item:hover .blog-detail {
    
}

.blog-main .blog-detail .row {
    height: 100%;
}

.blog-main .blog-detail .blog-detail-inner {
    background: rgba(0, 0, 0, 0);
    color: #fff;
    margin-top: 30px;
    padding-right: 20px;
}

.blog-main .blog-contant {
    height: 100%;
    position: relative;
}

.blog-contant span {
    color: #878787;
	line-height:20px;
}

/* .blog-main .blog-title{
    margin-bottom:30px;
} */

.blog-main .blog-item, .blog-listing .blog-item {
    border: 1px solid #eaeaea;
}

.blog-main .blog-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.blog-title a {
    color: #f7941d;
    font-weight: 700;
	font-size:16px;
	line-height: 18px;
	letter-spacing:0.3px;
    text-transform: uppercase;
}

.post-date {
    color: #79c753
;
}

.blog-detail p {
	font-size: 14px;
	line-height: 20px;
	color: #000;
}

.blog-tag {
    margin-bottom: 15px;
}

.blog-tag span {
    background: #ffe547;
    color: #2a2931;
    font-size: 13px;
    padding: 0 5px;
}

.blog-detail .post-info ul li {
    display: inline-block;
    margin-right: 15px;
    font-style: italic;
}

.blog-main .blog-detail .post-info ul li a {
    color: #fff;
}
/* Blog CSS End */

/* Testimonial CSS Start */
.client-main .item {
    display: inline-block;
}

.client-main .item p {
    font-size: 16px;
    font-style: italic;
    letter-spacing: 1px;
}

.user-detail-inner {
    display: inline-block;
    margin-top: 30px;
}

.client-main .item .client-title {
    font-weight: 600;
    margin-bottom: 0;
    font-size: 14px; 
}

.client-main .item .designation {
    font-size: 12px;
    display:inline-block;
    margin-left: 1px;
}

.owl-pagination {
    display: inline-block;
    margin-top: 20px;
}

.owl-pagination .owl-page {
    float: left;
    margin: 0 3px;
}

.owl-pagination .owl-page > span {
    background: #7d7d7c;
    display: inline-block;
    height: 4px;
    width: 20px;
}

.owl-pagination .owl-page.active > span, .owl-pagination .owl-page:hover > span {
      background: #79c753
;
}

.client-inner {
    padding: 0 10px;
}

.client-main .owl-carousel {
    position: inherit;
}

.client-img {
    display: inline-block;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
}

.testimonial-list .client-main {
    border-bottom: 1px solid #eaeaea;
    display: inline-block;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.testimonial-list .client-main .client-img {
    margin-right: 20px;
}

/* Testimonial CSS End */

/* product list */
.product-grid, .product-list {
    margin-bottom: 30px;
}

.common-home .box-products {
    margin-bottom: -30px;
}

/* .common-home  */.box-products .product-thumb {
    margin-bottom: 30px;
    border: 1px solid #d7d7d7;
    position: relative;
}

.product-grid .product-thumb {
    margin: auto;
    max-width: 280px;
    border: 1px solid #d7d7d7;
}
.product-thumb .image {
	text-align: center;
    position: relative;
    overflow: hidden;
}
.product-list .product-thumb .image {
    border: 1px solid #d7d7d7;
    margin-right: 20px;
    float: left;
}
.product-list .iframe .icon {
    margin-left: 7px;
}
.product-thumb .image > a {
	display: block;
    position: relative;
}
.product-thumb .image a:hover {
	
}
.product-thumb .image img {
	margin-left: auto;
	margin-right: auto;
}

/* .product-thumb .image > a:before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;    
    content: "";
    opacity: 0;
    -webkit-transition: all 0.4s ease-out 0.2s;
    -moz-transition: all 0.4s ease-out 0.2s;
    -o-transition: all 0.4s ease-out 0.2s;
    transition: all 0.4s ease-out 0.2s;
    background-color: #ccc;
}
.product-thumb:hover .image > a:before {
    left: 0px;
    top: 0px;
    margin: 0 0;
    background: rgba(0,0,0,0.6);
    opacity: 0.8
} */

.product-thumb .image img.hover-image {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}

.product-thumb:hover .image img.hover-image {
    
}

.product-thumb .image .sale-label {
    background: #FF9800;
	color: #fff;
	padding: 8px 11px;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 12px;
	position: absolute;
	left: 12px;
	top: 12px;
}
.product-thumb .button-group.main-product-btn .button{
    background: #FF5722;
}
.product-thumb .button-group.main-product-btn .button:hover{
    color: #fff !important;
}
.product-thumb .button-group.main-product-btn .button-inner{
    text-align: center;
}
.product-thumb #quickview {
    position: absolute;
    top: 100px;
    transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    left: 50%;
    margin-left: -20%;
}
.product-thumb:hover #quickview {
	transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
}

.product-list .product-thumb #quickview {
    position: relative;
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    left: auto;
    top: auto;
    float: left;
    margin-left: 0;
    margin-right: 5px;
    height: 40px;
}

.product-thumb #quickview:hover .fa-search {
	color:#fff;
}

.product-grid .product-thumb .image {
	float: none;
}

.product-thumb h3 {
    font-size: 14px;
    line-height: 20px;
    margin:15px 0 5px;
    text-align:center
}
.product-thumb h3 a {
    color: #878787;
}
.product-thumb:hover h3 a {
    color: #2a2931;
}
.product-thumb .caption {
	padding: 0 20px 15px;
	min-height:80px;
}
.product-list .product-thumb .caption {
	overflow:hidden;
}
.product-thumb .rating {
	padding-top: 0px;
    padding-bottom: 0px;
}
.rating .fa-stack {
	font-size: 5px;
}
.rating .fa-star-half-o{
    color: #ffc600;
    font-size: 13px;
    line-height: inherit;
}
.rating .fa-star-o {
	color: #ffc600;
    font-size: 13px;
    line-height: inherit;
}
.rating .fa-star, .table-striped .fa-star {
	color: #ffc600;
    font-size: 13px;
    line-height: inherit;
}
.rating .fa-star + .fa-star, .table-striped .fa-star + .fa-star{
	color: #ffc600;
}
.product-item-details .label-review {
    color: #878787;
    display: inline-block;
    /* font-size: 12px; */
    font-style: italic;
    padding: 0 15px 0 10px;
    margin-right: 15px;
    line-height: 15px;
}
.product-item-details .reviewwrite {
    color: #2a2931;
    font-style: italic;
}
h2.price {
	margin: 0;
}

.product-thumb .price, .product-page-price .product-price {
	color: #1a1a1a;
    font-weight: normal;
	font-size:20px;
	margin-bottom:5px;
    height: 25px;
    text-align:center;
}
.sidebar-box .pro-detail-info .price-box{
	color:#1a1a1a;
    margin-bottom: 0px;
}
.product-page-price {
    color: #1a1a1a;
    display: inline-block;
    margin-bottom: 12px;
    /* font-size: 24px; */
    display: flex;
    justify-content: left;
    align-items: baseline;
}
.product-page-price li{
    width: auto!important;
    margin-right: 18px;
}
.product-page-price li.today-price *{
    color:#4FBE13;
}
.product-page-price li.actual-price{
    border-left: 1px solid;
    border-right: 1px solid;
    padding: 0 10px;
    border-color: #cac9c9;
}
.product-page-price li.actual-price *{
    color:#b2b2b2;
}
.product-page-price li.save-price *{
    color:#ff4557;
}
.product-page-price .product-price {
    font-size: 22px;
    font-weight: bold;
}
.product-thumb .price-old{
    text-decoration: line-through;
}
.product-thumb .price-old, .product-page-price li span {	
    color: #b8b8b8;    
    font-weight: normal;
    padding: 1px 6px;
	
	font-size:14px;
}
.product-thumb .price-tax {
	color: #999;
	font-size: 12px;
	display: none;
}
.product-grid .category-description {
    display: none;
}
/*.product-thumb .product-item-action {
    background: transparent;	
    padding: 0px;
	position:absolute;
	bottom:25%;
	left:0px;
	width:100%;
    transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    opacity: 0; 
}
 .product-thumb:hover .product-item-action{
    bottom:25px;
}*/  
 
.product-thumb .product-item-action .hover-actions{
	display:inline-block;
}
/* .product-thumb:hover .product-item-action {
     opacity: 1;
 } */ 
.product-list .product-thumb .product-item-action{
	position:static;
	opacity:1;
	margin-top:25px;
}
.product-list .product-thumb h3{
	margin-top:0px;
}
.product-grid .product-thumb /* .caption */ .product-item-action.product-list-btn,
.product-list .product-thumb /* .image */ .product-item-action.product-grid-btn{
	display:none;
	opacity:0;
}
.button-group.main-product-btn button {
	border: none;
	display:block;
	float: none;
	color: #222;
	text-align: center;
	margin:0 auto;
}

.button-group.main-product-btn .only-icon {
    border: 1px solid #79c753;
    display: inline-block;
}

.button-group.main-product-btn .only-icon button {
    background: rgba(73, 235, 54, 0.21);
    border-right: 1px solid rgba(73, 235, 54, 0.4);
    padding: 0;
    height: 39px;
    width: 39px;
    margin-right: 0;
}

.button-group.main-product-btn .only-icon button:last-child {
    border-right: none;
}

.product-thumb .button-group button + button {
	min-width: 30px;
	margin-left:0px;
}
.button-group.main-product-btn button:hover {
	background:#79c753
;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}
.button-group.main-product-btn button span.icon,
.button-group.main-product-btn .iframe span.icon {
    background: url("../image/sprite.png") no-repeat scroll 0 0;
    display: inline-block;
    margin-right: 3px;
    height: 19px;
    width: 21px;
    margin-bottom: -3px;
}

.product-thumb .button-group button:last-child span.icon {
    margin-right: 0;
}

.button-group.main-product-btn button + button span.icon {
    margin-left: 2px;
}
.button-group.main-product-btn button.addtocart span.icon {
    background-position: -11px -363px;
}
.button-group.main-product-btn button.whishlist span.icon {
    background-position: -11px -429px;
}
.button-group.main-product-btn button.compare span.icon {
    background-position: -11px -495px;
}
.button-group.main-product-btn .iframe span.icon {
    background-position: -11px -525px;
}
.button-group.main-product-btn button.addtocart:hover span.icon {
    background-position: -11px -330px;
}
.button-group.main-product-btn button.whishlist:hover span.icon {
    background-position: -11px -396px;
}
.button-group.main-product-btn button.compare:hover span.icon {
    background-position: -11px -462px;
}
.button-group.main-product-btn .iframe:hover span.icon {
    background-position: -11px -558px;
}
/* @media (max-width: 1200px) {
    .product-thumb .button-group button, .product-thumb .button-group button + button {
        width: 33.33%;
    }
}
@media (max-width: 767px) {
    .product-thumb .button-group button, .product-thumb .button-group button + button {
        width: 33.33%;
    }
} */
.thumbnails {
	overflow: auto;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
}
.thumbnails > li {
	margin-left: 20px;
}
.thumbnails {
	margin-left: -20px;
}
.thumbnails > img {
	width: 100%;
}
.image-additional a {
	padding: 5px;
	display: block;
}
.image-additional {
	max-width: none;
}
.thumbnails .image-additional {
	float: left;
	margin-left: 20px;
}


/* fixed colum left + content + right*/
@media (min-width: 768px) {
    /* #column-left  .product-layout .col-md-3 {
       width: 100%;
    }
    
        #column-left + #content .product-layout .col-md-3 {
       width: 50%;
    }
    
        #column-left + #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }
    
    #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    } */
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout, #column-right .product-layout {
	width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
	min-width: 50px;
}

/* Missing focus and border color to overwrite bootstrap */
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-image: none;
    background-color: #df5c39;
}

/* Quickview-Popup CSS Start */
.quickview-popup{
    background: #f6f6f6 none repeat scroll 0 0;
    margin: 0 auto;
    max-width: 1000px;
    padding: 30px;
    position: relative;
}
/* Quickview-Popup CSS Start */


/* pro-small-view Start */
.pro-small-view .product-thumb {
	border: none;
	display: inline-flex;
    margin-bottom: 5px;
    padding: 15px 0;
    width: 100%;
}
.pro-small-view .product-thumb:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
}
.pro-small-view .product-thumb .image {
	margin-right: 20px;
    overflow: visible;
    /* width: 115px; */
}
.pro-small-view .pro-detail-info {
    width: 100%;
}
.pro-small-view .pro-detail-info .button-group {
    border-top: 1px solid #dedede;
    padding-top: 10px;
    margin-top: 20px;
}
.pro-small-view .product-thumb .button-group button {
    opacity: 0;
}
.pro-small-view .product-thumb:hover .button-group button {
    opacity: 1;
}
.pro-small-view .product-thumb .caption {
	min-height: 1px;
}


/* category-banner Start */
.cate-banner-bg {
    position: relative;
}

.cate-banner-detail {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.cate-banner-inner {
    display: table;
    height: 100%;
    width: 100%;
}

.cate-banner-info {
    display: table-cell;
    vertical-align: middle;
}

.cate-banner-detail .cate-banner-title {
    color: #fff;
    font-family: 'Courgette', cursive;
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 20px;
    line-height: 25px;
}

.cate-banner-detail .cate-banner-desc {
    margin: auto;
    max-width: 370px;
}

.cate-banner-detail .cate-banner-more a {
    color: #79c753
;
    padding: 2px 10px;
    position: relative;
    z-index: 1;
}

.cate-banner .cate-banner-more a:before {
    background: none repeat scroll 0 0 #79c753
;
    content: "";
    height: 23px;
    left: 0;
    position: absolute;
    top: 0;
    width: 0%;
    z-index: -1;
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}

.cate-banner:hover .cate-banner-more a:before {
    width: 100%;
}

.cate-banner:hover .cate-banner-more a {
    /* background:#79c753
; */
    color: #000;
}

.cate-banner:hover .cate-banner-title {
    color: #79c753
;
}
/*category-banner End*/

/* perellex Start */

.perellex-banner {
    background: url("../image/parallax.jpg") no-repeat fixed center;
}

.perellex-bg-color {
    background-color: rgba(255,255,255,0.2);
}

.perellex-banner .video {
    margin: -90px 0;
}

.perellex-delail {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.perellex-delail .perellex-title {
    color: #79c753
;
    font-family: "Montserrat",sans-serif;
    font-size: 25px;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.perellex-delail .perellex-subtitle {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin: 20px 0;
    text-transform: capitalize;
    width: 90%;
}
.perellex-delail a.sub-btn {
    margin-top: 0;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
}
.perellex-delail a.sub-btn:hover {
    background-color: #79c753
;
    border-color: #79c753
;
}

/* perellex End */

/*sub category block css strat*/
.sub-category-block {
    background-color: #fff;
    position: relative;
}

.sub-category-block::after {
    border-bottom: 1px solid #f6f6f6;
    bottom: 0;
    content: "";
    height: 1px;
    position: absolute;
    width: 100%;
}

.sub-cat-line {
    background-color: #79c753
;
    width: 40px;
    height: 2px;
    margin: 10px auto;
}
.sub-cat-title {
    color: #343434;
}
.sub-category-block .col-md-3 {
  border-bottom: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
  padding: 40px 0;
}
.sub-category-block .col-md-3:hover img {
   /* transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);*/
    opacity: 0.5;
}
.sub-category-btn {
  bottom: 50%;
  position: absolute;
  width: 100%;
  opacity: 0;
}
.sub-category-block .col-md-3:hover .sub-category-btn {
    opacity: 1;
}

/* .sub-category-block .sub-category-bottom .col-md-3 {
    border-bottom: none;
} */
/*sub category block css end*/

/* Site Services Features Block css Star */
.ser-feature-block {
    border: 1px solid #d7d7d7;
    padding: 40px 10px;
    text-align: center;
}

.ser-feature-block .feature-box .icon {
    background: url("../image/shipping_icon.png") no-repeat scroll 0 0;
    display: inline-block;
    height: 52px;
    width: 52px;
    cursor: pointer;
    margin-bottom: 30px;
}

.ser-feature-block .feature-box .ser-title {
    color: #e45e5e;
    font-size: 21px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 25px;
}

.ser-feature-block .feature-box:hover .ser-title {
    color: #79c753
;
}

.ser-feature-block .feature-box.feature1 .icon {
    background-position: -1px -11px;
}

.ser-feature-block .feature-box.feature2 .icon {
    background-position: -2px -107px;
}

.ser-feature-block .feature-box.feature3 .icon {
    background-position: -2px -205px;
}

/* Site Services Features Block css Star */


/* Sidebar CSS Start */
.pro-detail-info .rating {
    padding: 0;
    margin-top: -5px;
}

.gray-box {
    background: #f0f0f0;
    padding-bottom: 25px;
}

.sidebar-title {
    padding: 0 0 8px;
}

.sidebar-title h3 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 0;
    text-transform: capitalize;
}

.sidebar-contant {
    border: 1px solid #d7d7d7;
}

.listing-box ul li:first-child a {
    padding-top: 0;
}

.listing-box .accordion-group {
    border-bottom: 1px solid #ededed;
}

.listing-box .accordion-group:last-child {
    border-bottom: none;
}

.listing-box .accordion-group .accordion-toggle {
    position: relative;
}
.listing-box .accordion-group .accordion-toggle:after {
    background: rgba(0, 0, 0, 0) url("../image/sprite.png") no-repeat scroll -92px -413px;
    content: "";
    cursor: pointer;
    display: inline-block;
    height: 30px;
    position: absolute;
    right: 0;
    width: 30px;
    top: 7px;
}
.listing-box .accordion-group .accordion-toggle.collapsed:after {
    background-position: -92px -375px;
}
.listing-box .accordion-group a {
    /* border-bottom: 1px solid #ebebeb; */
    padding: 12px 11px;
    display: inline-block;
    width: 100%;
}
.listing-box .accordion-group .accordion-body a{
	border-bottom:0 none;
	padding:3px 0 !important;
}
.listing-box .accordion-group:first-child a {
    /* display: inline-block;
    width: 100%; */
}
.listing-box .accordion-group:last-child a {
    border-bottom: none;
}

.listing-box .accordion-group .accordion-inner {
    padding:10px 0 10px 15px;
}

.listing-box .accordion-group .accordion-inner a:before {
    content: "ï„…";
    font-family: FontAwesome;
}

.gray-box .sidebar-contant {
    padding: 0 17px;
}

.inner-title {
    color: #000;
    margin-bottom: 8px;
    display: inline-block;
    font-weight: 700;
    width: 100%;
}

.price-range .price-txt {
    color: #7f7f7f;
    font-weight: 600;
}

.filter-sidebar .filter-inner-box ul li {
    cursor: pointer;
    display: inline-flex;
    margin: 3px 0;
    width: 100%;
}

.filter-inner-box ul li.active > span, .filter-inner-box ul li:hover > span {
    background: none repeat scroll 0 0 #f95200;
}

.filter-inner-box ul li > span {
    border: 1px solid #b6b6b6;
    box-shadow: 0 0 0 1px #fff inset;
    display: inline-block;
    height: 12px;
    margin-right: 7px;
    margin-top: 1px;
    width: 12px;
    z-index: 0;
}

.filter-inner-box ul li span input[type="checkbox"] {
    margin-top: 0;
    min-height: auto;
    opacity: 0;
}

.filter-inner-box ul li.active label {
    color: #2a2931;
}

.filter-inner-box ul li label {
    color: #666;
    cursor: pointer;
    font-weight: normal;
    margin-top: -5px;
    width: 100%;
}

.sidebar-contant .product-thumb {
    border-bottom: 1px solid #d7d7d7;
    display: inline-flex;
    padding: 7px 0;
    margin-bottom: 5px;
    width: 100%;
}

.sidebar-contant .product-thumb:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

.sidebar-contant .pro-detail-info .rating {
    margin-bottom: 5px;
}

.sidebar-item ul li:first-child {
    padding-top: 0;
}

.sidebar-item .pro-media {
    padding: 0 10px 0 0;
    width: 108px;
}

.sidebar-item-wide .pro-media {
    width: 110px;
}

.pro-detail-info .price-box .price {
    font-size: 14px;
    margin-right: 5px;
}

.pro-detail-info .rating-summary-block {
    padding: 0;
}

.sidebar-item .cart-link button {
    background-color: transparent;
    border: none;
    padding: 0;
    letter-spacing: 0;
    font-weight: 400;
}

.sidebar-item .cart-link button:hover {
    color: #1a1a1a;
}

/* Sidebar CSS END */


/* Sorting CSS Start */

.shorting select {
    padding: 5px 24px 5px 5px;
}

.shorting .view {
    float: left;
    margin-right: 20px;
}

.view button#grid-view, .view button#list-view {
    background: url(../image/grid-list.png) no-repeat scroll 0 0;
    border: 1px solid transparent;
    display: inline-block;
    height: 30px;
    width: 30px;
    padding: 0;
    -webkit-box-shadow: 0px 0 1px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0 1px rgba(0, 0, 0, 0);
    box-shadow: 0px 0 1px rgba(0, 0, 0, 0);
}

.view button#grid-view {
    background-position: 1px 1px;
}

.view button#list-view {
    background-position: -33px 1px;
}

.view button#grid-view:hover, .view button#grid-view.active {
    background-position: 1px -24px;
    background-color: rgba(0, 0, 0, 0);
    border-color: transparent;
}

.view button#list-view:hover, .view button#list-view.active {
    background-position: -33px -24px;
    background-color: rgba(0, 0, 0, 0);
    border-color: transparent;
}

.shorting select {
    font-size: 14px;
}
.short-by, .select-item {
    float: left;
    position: relative;
}
.short-by > span, .show-item > span {
    float: left;
    margin: 5px 10px 3px;
}

.compare {
    float: right;
    margin-left: 10px;
}

.compare .btn {
    padding: 8px 15px;
}

.pagination-bar {
    /* text-align: center;
    margin-top: 20px; */
}
.pagination-bar ul {
    display: inline-flex;
}
.pagination-bar ul li {
    float: left;
    margin: 0 2px;
}
.pagination-bar ul li a, .pagination-bar ul li span {
    background: #fff;
    height: 35px;
    width: 35px;
    display: inline-block;
    line-height: 35px;
    text-align: center;
    border: 1px solid #dddddd;
}
.pagination-bar ul li.active a, .pagination-bar ul li.active span {
    background: #292929;
    color: #fff;
}
/* Sorting CSS End */

/* Product Detail Page Start         |================ */

.thumbnails-image a {
    border: 1px solid #d7d7d7;
    display: inline-block;
}

/*zoom-windown*/
.zoomWindow {
    width: 478px !important;
}
.quickview-popup .zoomWindow{
	width:370px !important;
}
.zoomLens {
    height: 100px !important;
    width: 100px !important;
}
.zoomContainer {
    top: 0px !important;
    left: 0px !important;
    margin-left: 18px !important;
    z-index: 9;
}

/* Detailing Start */
.product-detail-main .product-item-details .product-item-name {
    font-size: 26px;
    margin-bottom: 10px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 30px;
}

.product-detail-main .button-group.main-product-btn button.addtocart {
    height: auto;
    width: auto;
}
.product-detail-main .button-group.main-product-btn button.addtocart span.icon {
   
}
.product-detail-main .button-group.main-product-btn button {
	margin-left:0px;
}

.product-detail-main .rating {
    margin-bottom: 20px;
    padding-top: 4px;
}

.form-control {
    border-color: #dedede;
    border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -o-border-radius: 0px !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: 40px;
}

.form-control::-moz-placeholder {
    /* color: #c3998a; */
}

.form-control:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


.nav-tabs > li.active > a, .nav-tabs > li.active:hover > a, .nav-tabs > li.active > a:focus {
    background-color: rgba(0, 0, 0, 0);
    border: medium none;
}

.list-unstyled.product-page-price > li {
    display: inline-block;
    width: 100%;
}
.list-unstyled.product-page-price > li:first-child {
    float: left;
    width: auto;
}
.list-unstyled.product-page-price > li.product-special-price {
    width: auto;
    font-size: 14px;
    color: #878787;
}

.product-detail-main .product-item-details label {
    color: #2a2931;
    margin-bottom: 2px;
    line-height: 16px;
}

.product-detail-main .product-item-details .radio label, .product-detail-main .product-item-details .checkbox label {
    color: #878787;
}



/* Detailing End */

/* Product Page Tab CSS Start */
.nav-tabs {
    border-bottom: 0 none;
}
.nav-tabs > li > a {
    border-color: #eee #eee #ddd;
}
.tab-content {
    background: #fff;
    border: 1px solid #ededed;
    padding: 45px 35px;
}

.product-detail-tab {
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
        padding-top: 50px;
}

.product-detail-tab .nav > li {
    margin-bottom: 0;
}

.product-detail-tab .nav > li > a {
    background-color: #fff;
    text-decoration: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    border: none;
    font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.2px;
    color: #000;
    margin: 3px 3px 0px 3px;
	padding:11px 33px 10px 22px; 
}
.product-detail-tab .nav > li:first-child > a {
   margin-left: 0;   
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus,.product-detail-tab .nav > li:hover > a{
	background-color: #79c753
;
	color:#fff;
}

.tab_content {
    border-bottom: 1px solid #e1e1e1;
    border-top: 0;
    padding: 30px 0;
}
.Description, .items-Product-Tags, .items-Reviews, .comments-area-main {
    line-height: 25px;
}
.tab_content ul li strong {
    font-weight: 500;
    color: #2a2931;
}
.items-Description, .items-Product-Tags, .items-Reviews {
    display: none;
}
.items-Description.selected, .items-Product-Tags.selected, .items-Reviews.selected {
    display: block;
}
.product-detail-tab p font {font-family: "Montserrat",sans-serif !important;}
/* Product Page Tab CSS End */

/* Product Detail Page End |----------- */

/* Scroll-top Arrow CSS Start */
.scroll-top {
    bottom: 20px;
    position: fixed;
    right: 20px;
}

.scroll-top #scrollup:before {
    color: #79c753;
       content: "\f106";
    font-family: "FontAwesome";
    font-size: 18px;
}

.scroll-top #scrollup {
  background: #fff none repeat scroll 0 0;
  border: 4px solid #79c753
;
  cursor: pointer;
  display: none;
  padding: 8px 15px;
}
/* Scroll-top Arrow CSS End*/

/*custome-css-start-here-17-05-2018*/


/*header-top-right*/
.header-right-part {
padding: 0 0px 0 20px;
/*float: left;
    width: 59%;
    display: inline-block;*/
}

.block-rightaccount {
    float: right;
    display: block;
    /*width: 41%;*/
    vertical-align: middle;
    padding-top: 26px;
}

    .block-rightaccount .btn-block {
    display: table-cell;
    vertical-align: middle;
    position: relative !important;
    }


   .block-rightaccount .btn-block + .btn-block {
    margin-top: 0px;
}

ul.dropdown-account {
width:160px !important;
padding:5px 0px !important;
}
ul.dropdown-account li a {
    color:#333;
    font-size: 13px;
}
ul.dropdown-account li a:hover {
    color: #79c753;
}

.account-block .account-span, .account-block .cart-total {
    display:inline-block;
}

.button-group.main-product-btn .only-icon {
display:none;
}

.product-thumb .rating {
    text-align: center;
    display: block;
    padding-top: 10px;
}

.full-block {
display:block;
float:left;
clear:both;
width:100%;
}

.icon-box {
    display:table;
}
    .icon-box .icon-wrap {
        display: table-cell;
    vertical-align: middle;
    }
.icon-box .icon-wrap {
        display: table-cell;
    vertical-align: middle;
    }
    .icon-box .icon-content {
    padding-left: 20px;
    display: table-cell;
    }
.icon-box-full {
    border: 1px solid #e1e1e1;
    padding-top: 20px;
    padding-bottom: 15px;
}

.icon-box-full .block-icon .icon-title h5 {

    margin-bottom:2px; 
    text-align:center;
}

    .icon-box-full .block-icon .icon-title p {
        font-size:14px;
        text-align:center;
    }

    /*cart-search-quantity*/
   .spinner {
  width: 70px;
}
.spinner input {
  text-align:left;
  height:42px;
}
.spinner .input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.spinner .input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
      padding: 10px 12px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}
.spinner .input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}
.spinner .input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.spinner .input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}

.btn-remove-block .btn {
    background:#fff;
}
.total-cart-table td{
background:#ebeaea;
border:1px solid #ccc;
}

.box-products .product-item-action {
  
}
.down-related-box {
padding-top:30px;
}

/*product-details-page*/
.product-additional .owl-item .image-additional a {
        border: 1px solid #ccc;
    margin-right: 4px;
    margin-top: 6px;
}

.search-title-big {
padding-top:15px;
}

.product-grid .product-thumb h3 {
    text-align:center;
}

.product-grid .product-thumb .price
{
    text-align:center;
}

.product-grid .button-group.main-product-btn .btn {
        margin: 0 auto;
    display: block;
    width: 135px;
}

.product-grid .product-thumb .rating {
    text-align:center;
}


.product-list .product-thumb h3 {
    text-align:left;
}

.product-list .product-thumb .price
{
    text-align:left;
}

.product-list .button-group.main-product-btn button {
    margin:inherit;
}

.product-list .product-thumb .rating {
    text-align:left;
}

.how-picblock img{
    border:8px solid #e2e1e6;
    display:block;
    margin:0 auto;
}

.how-work-dec h4 {
    font-size: 30px;
    color: #543729;
    font-weight: bold;
    line-height: 40px;
    display:block;
    padding-bottom: 10px;
}

.how-work-dec h4 small {
    font-size: 40px;
    color: #00405d;
    font-weight: bold;
}

.how-work-dec .right-sec {
    width:100%;
    float:none;
    display:block;
    clear:both;
}

.how-work-dec .right-sec ul {
    width: 100%;
    display:block;
    margin: 20px 0 0 0;
}
.how-work-dec .right-sec ul li {
    width: 100%;
    margin: 0 0 20px 0;
    display:block;
}

.how-work-dec .right-sec ul li .pull-left p{
    width: 74px;
    height: 74px;
    float: left;
    margin: 10px 0 0;
    background: #75b239;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    line-height: 70px;
    border-radius: 74px;
    -webkit-border-radius: 74px;
    -moz-border-radius: 74px;
}

.how-work-dec .right-sec ul li .media-body h5 {
    font-size: 21px;
    color: #543729;
    font-weight: bold;
}

    .how-work-dec .right-sec ul li .media-body p {
        color:#666;
        line-height:23px;
    }

    .how-work-dec .right-sec ul li .media-body {
        padding-left:15px;
    }
    .top-view-heading h4 {
   color: #00405d;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    line-height:20px;
}
.top-view-heading h4 span {
    color: #543729;
}

.top-view-heading {
    display:block;
    padding-bottom:35px;
}

.top-view-heading p {
    text-align:center;
    color:#333;
    text-align:center;
    padding-top:10px;
}

ul.benefit-point {
    width: 100%;
    text-align: justify;
    margin: 30px 0 0 -30px;
}
ul.benefit-point li {
    background: url(../image/check.png) left top no-repeat;
    padding: 0 0 0 40px;
    font-size: 15px;
    color: #666;
    margin: 0 0 20px 0;
}
.benefit-section a {
display:block;
font-size:18px;
padding:10px 15px;
background:#75b239;
text-align:center;
text-transform:uppercase;
color:#fff;
width:200px;
}
.benefit-section a:hover
{
   background:#336504;
   color:#fff;
}

.benefit-ingredients {
    padding-top:15px;
}

.benefit-ingredients h4 {
    color: #00405d;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    display:block;
    margin-bottom:0px;
    padding-bottom:5px;
    line-height:20px;
}

.benefit-ingredients p {
    text-align:left;
    display:block;
    line-height:30px;
    color:#333;
    font-size:17px;
}

.margin-block {
margin-top:30px;
}
.benefit-point h4 {
    font-size: 21px;
    color: #543729;
    font-weight: bold;
    display:block;
    margin-bottom: 0px;
    padding-bottom: 0px;
    line-height:20px;
}

.benefit-ingredients .italic {
   font-style:italic;
}

.table-cart-block thead .text-left, .table-cart-block thead .text-center {
    vertical-align:middle;
    color: #7f8188;
    font-weight: 500;
    text-transform: uppercase;
    background:#e6e6e6;
}

.table-cart-block .text-left small {
    display:block;
}
.secure-pay {
    cursor:none;
}
.secure-pay img {
    display:block;
    vertical-align:middle;
    margin-bottom:10px;
  
}

.box-products .button-group.main-product-btn .btn {
    margin: 0 auto;
    display: block;
    width: 135px;
}

.chkout-btn .btn-black{
         background: #336504 !important;
}
.chkout-btn .btn-black:hover{
         background: #2a2931  !important;
}





.order-summary .block-rightaccount #cart{
    position: absolute!important;
    right: 0;
    top: inherit;
}
.order-summary .address-detail{
    background: #ebeaea;
    padding: 20px;
}
.order-summary .sucess-bar{
    text-align: center;
    background: #363636;
    margin: 0 0 26px;
    padding: 10px 0;
}
.order-summary .sucess-bar p{
    margin: 0;
    color:#fff;
}
.order-summary .sucess-bar p a{
    color:#fff;
    text-decoration: underline;
}
.order-summary  #logo{
    padding: 15px 0;
}
.order-summary .bread-crumb-inner .fa {
    font-size: 22px;
}
.order-summary .bread-crumb{
    background: #75b239 none repeat scroll 0 0;
    border-bottom: 1px solid #eaeaea;
    padding: 12px 0px;
    margin-bottom: 20px;
}
.order-summary .sucess-card {
    text-align: center;
    margin: 0 auto;
    background: #ededed;
    padding: 20px 0;
    margin-bottom: 20px; 
}
    .order-summary .sucess-card .icon {
      width: 50px;
      height: 50px;
      margin: 0 auto; }
      .order-summary .sucess-card .icon img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .order-summary .sucess-card .message p {
      line-height: 1.4;
      font-weight: 600; }
    .order-summary .sucess-card .message .btn {
      text-decoration: none;
      border: 2px solid #41ad49;
      padding: 3px 7px;
      margin: 20px 0;
      display: inline-block;
      width: auto;
      color: #41ad49;
      font-weight: 700; }

      .contact-us-form .form-control{
       
        border-width: 2px;
      }

.row.testimonial-block{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
figure.snip1192 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 220px;
  max-width: 260px;
  width: 100%;
  color: #333;
  text-align: left;
  box-shadow: none !important;
}
figure.snip1192 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip1192 img {
  max-width: 100%;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
  display: inline-block;
  z-index: 1;
  position: relative;
  display: none;
}
figure.snip1192 blockquote {
  margin: 0;
  display: block;
  border-radius: 8px;
  position: relative;
  background-color: #fafafa;
  padding: 30px 50px 65px 50px;
  font-size: 0.8em;
  font-weight: 500;
  margin: 0 0 -50px;
  line-height: 1.6em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border-left: 5px solid #75b239;
}
figure.snip1192 blockquote:before,
figure.snip1192 blockquote:after {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 50px;
  color: #336504;
  font-style: normal;
}
figure.snip1192 blockquote:before {
  top: 35px;
  left: 20px;
}
figure.snip1192 blockquote:after {
  content: "\201D";
  right: 25px;
  bottom: 50px;
}
.top-view-heading h4.testimonial-heading-title{
    font-size: 30px;

}
figure.snip1192 .author {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  padding-bottom: 20px;
}
figure.snip1192 .author h5 {
  opacity: 0.8;
  margin: 0;
  font-weight: 800;
  font-size: 0.81em;
}
figure.snip1192 .author h5 span {
  font-weight: 400;
  text-transform: none;
  display: block;
  line-height: 1;
}
.empty-cart{
    padding: 60px 0;
}
.empty-cart .cart-icon img{
    margin: 40px auto 20px;
}
.empty-cart h4{
    margin-bottom: 28px;
}
.empty-cart .btn-link{
    border: 2px solid #75b239;
    padding: 4px 10px;
    margin: 23px 0;
    color: #75b239;
}
.empty-cart .btn-link:hover{
    text-decoration: none;
}
.down-related-box .featured_box .carousel-inner{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
}
@media (max-width: 768px) {
    .down-related-box .featured_box .carousel-inner{
        grid-template-columns: 48% 48%;
    }
}
@media (max-width: 600px) {
    .down-related-box .featured_box .carousel-inner{
        grid-template-columns:100%;
    }
}