@keyframes blink{
  0%{opacity: 0;}
  50%{opacity: .5;}
  100%{opacity: 1;}
  }
  
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7,
.col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
    display: inline-block;
    
}

.container-fluid{
  padding: 0;
}



body {
  background-color: #f7f8f9;
  font-family: Poppins;
  line-height: 1.6;
}

ul{
   padding: 0;
 }

ul>li{
  list-style: none;
}

.m_banner, .mobilform , .mobile_view{
  display: none;
}

.web_banner{
  display: block;

}

.centerText{
  text-align: center;
}

.mleft4em{
  margin-left: 4.6em;
}

.mleft6em{
  margin-left: 6em;
}

.mtop35{
  margin-top: 35px;
}

.mright2em{
  margin-right: 2.6em;
}

.mtop70{
  margin-top: 70px;
}

.mtop10{
  margin-top: 10px;
}

.mtop15{
  margin-top: 15px;
}
.marginFourty{
  margin: 40px;
}

.rfloat{
  float: right;
}

.overflowhidden{
  overflow: hidden;
}

.yellow{
  color: #EEFF00
}

.skyBlue{
  color: #2eabc3;
}

.blue{
  color: #0e7487;
}

.darkGreen{
  color: #044450;
}

.orange{
  color: #EE5410;
}

hr{
  border-top: 1px solid #ccc;
}

  /* common Css Ends here */


   /*notification CSS  */
 .notification-bar {
  background: #050505;  
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8084', endColorstr='#ff79b5', GradientType=1 );
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  padding: 10px 0;
}

 .notification-bar p {
  margin: 0;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.notification-bar p strong {
  color: #f9f52f;
  animation: blink 2s linear infinite;
  font-weight: 400;
}

.notification-bar p .btn {
  font-size: .7em;
  padding: 4px 12px;
  margin-left: 8px;
  border-radius: 5px;
  background: #fff90c;
  color: red;
}



 /* notification css Ends Here */

/* Navbar Css*/
.navbar{
  min-height: 70px
}

.navbar-brand{
  transform: translateX(-50%);
  left: 50%;
  position: absolute;    
  padding: 15px 15px;
}

.navbar-fixed-top {
top: 39px;
border-width: 0 0 1px;
}

/* EndsHere */



/* banner */
.bg_banner{
  background-image: url("../img/web_banner.jpg");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 780px;
}

.bannerText{
  color: #fff;
}

.bannerText .col-md-8{
  position: relative;
}
.bannerText .col-md-8 .wrapper{
    position: absolute;
    top: 65px;
    left: 36%;
}
.bannerText .col-md-8 .wrapper .h1{
  font: bold;
}

.bannerText .col-md-8 .wrapper .col-md-12{
  padding-left: 0;
}

.font24{
  font-size: 24px;
  padding-left: 0;
}

.font16{
  font-size: 16px;
}

.claim{
    background: #044F90;
    padding: 10px 33px;
    text-align: center;
    border-radius: 10px;
    width: 90%;
    font-size: 22px;
}

.problemsText{
  position: relative;
  top: 2.1em;
  font-size: 20px;
  color: #2eabc3;
}

.problemsimg{
  position: relative;
  left: 4.5em;
}

/* form CSS */

#feedbackForm {
  width: 300px;
  margin: 7em 0 0 auto;
  background: #fff;
}

form .heading {
  background-color:#044F90;
  padding: 5px 4px;
  color: white;
  text-align: center;
}

.form_items {
  padding: 30px 25px;
  -webkit-box-shadow: 2px 4px 5px -3px rgba(0,0,0,0.15);
  -moz-box-shadow: 2px 4px 5px -3px rgba(0,0,0,0.15);
  box-shadow: 2px 4px 5px -3px rgba(0, 0, 0, 0.15)
}

#feedbackForm .button {
  border: 1px;
  background-color: white;
}
.secure_text {
  font-size: 12px;
  text-align: center;
  margin: 10px 0;
  font-weight: 600;
  color: #652300;
}
/*  */





.aboutSection h3, p{
  text-align: center;
}

.about2ndSection{  
    margin-top: 60px;
}

.about2ndSection .description{
  padding: 23px;
  background-color: #fff;
}

.about2ndSection p, p{
  text-align: left;
}

.about2ndSection button{
    background: #F8B746;
    color: white;
    border: 1px;
    padding: 9px 13px;
    border-radius: 100px;
    margin-top: 1em;
}

.about2ndSection button:hover{
  background-color: #EE7710;
}

.hair_problems{
  margin-top: 100px;
}

.hair_problems > .col-md-3 img{
  padding: 0 35px;
}

.hair_problems > .col-md-3 h5{
  text-align: center;
  margin: 18px 0;
}

.problems > .description{
    margin: 40px 20px 0;
    text-align: left;
    padding: 0 50px;
}

.paddingZero{
  padding: 0px;
}





.science{
  margin-top: 100px;
}

.science2nd p{
  padding: 20px 18%;
}

.cycle{
  background-image: url("img/stages.jpg");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px 0px;
  min-height: 730px;
}

.cycle h4{
  font-weight: 600;
}
 
.stageOneSec{
  padding: 2em;
}

.stageTwoSec{
  padding: 5em;
  margin-top: -20px;
}

.stageThreeSec{
  padding: 1em;
}

.stageFourSec{
  padding: 4.5em;
}


.blue_gradient{
  background-image: url('img/adbg.jpg');
  background: linear-gradient(to right, #0e7387, #2eabc3, #2eabc3, #0e7387);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;  
  color: #fff;
  margin-top: 100px;
}


/* .blue_gradient .container{
  margin: 30px 0;
} */
.blue_gradient .wrapper{
    
    padding: 0 90px;
}

.blue_gradient .wrapper .col-md-4{
  margin-top: 18px;
}

.orderButton {
  background: #f6760a;
  color: white;
  border: 1px;
  padding: 9px 18px;
  border-radius: 100px;
  margin-top: 1em;
  font-size: 18px;
}

.orderButton:hover{
  background: #20d6ff;
}


.strengths{
  margin-top: 6em;
}

.strength h5{
  font-size: 24px;
  letter-spacing: 0;
  color: #044450;
  font-weight: 800;
  margin: 10px 0;
}

.strength .col-md-7{
  position: relative;
  left: 3em;
}


.benefits{
  background-image: url("./img/benefits.png");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 80px;
  margin: 75px 0;
  min-height: 550px;
}


.updates{
  background-image: url("images/update_bg.png");
  width: 100%;
  background-position: left;
  background-repeat: no-repeat;
  padding: 100px 167px;
}

.updates .col-md-8{
  background-image: url("images/subscribe.png");
 
  background-position: left;
  background-repeat: no-repeat;
  padding: 70px 0;
 

}

.updates p{
  padding: 0 5em 0 0;

}

.updates form{
  position: relative;
  margin-top: 3em;
}

.updates form > .input-group{
  position: relative;
  right: 10%;
}

.updates form > .input-group > .form-control{
    width: auto;
    float: right;
    box-shadow: 0px 15px 30px #736f6f2b;
    margin-top: 3px;
    border: 0;
    height: 40px;
}

.input-group-btn  > .btn-default{
    background: #4A8FCB;
    color: white;
    border-radius: 5px;
    padding: 12px 10px;
}

footer{
  background-color: #044450;
  background-repeat: no-repeat;
  background-position: center;
  color:#fff;
}

footer .container{
  padding-bottom: 2em;
}

footer .logo {
  margin-top: 2em;
}
/* 
footer h5{
 
  color: #fff;
} */

footer .nav_links{
  text-align: center;
  margin: 20px 0;
}

footer .nav_links>a{
    color: #fff;
    padding: 0;
}
.footer2{
  background-color: #2eabc3; 
  
}

.footer2 p{ 
  padding-top:10px; 
}

.footer2 a{
 color: #fff;
 padding: 0 5px;
 font-size: 15px;
}
.footer2 a:hover{
 color: #fff;
 padding: 0 5px;
 font-size: 15px;
 text-decoration: none;
}

.footer2 a:focus{
 outline: 0px auto -webkit-focus-ring-color;
 text-decoration: none;
}




/* Carousel CSS starts Here*/

section.carouselSec{
  background-image: url(img/reviewsbg.jpg);
  background-repeat: no-repeat;  
  background-size: cover;
  padding: 50px;
}

.carouselSec .desktop_view{
  background-color: #fff;
}

.singleItem{
  width: 80%;
  margin: 0 auto;
  padding-top: 4em;
}

.sliderCards{
  text-align: center;
  background-color: #eefcff;
  border: 1px solid #ddd;
  margin: 10px;
  width: 284px !important;
  height: 330px;
  box-shadow: 0px 10px 5.7px 0.3px rgba(126, 125, 125, 0.33);
}

.sliderCards span{
  color: rgb(246, 219, 67);
}

.sliderCards img{
  margin: 0 auto;
  position: relative;
  top: -39px;
  text-align: center;
  border-radius: 50%;
}

.sliderCards p{
  text-align: center;
}
.sliderCards p.review{
  padding: 0 25px;
}
.draggable{
  padding-top: 30px;
}

.carouselSec{
  margin-top: 3em;
}

.slick-prev:before, .slick-next:before{
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: #4a8fcb;
  -webkit-font-smoothing: antialiased;
}



/* Carousel CSS End Here */



@media screen and (max-width: 600px) {

  h3{
    line-height: 1.3;
  }

  h4{
    line-height: 1.2;
  }

  h4 b{
    line-height: 1.5;
  }

  .textcentre{
    text-align: center;
  }

  .floatnone{
    float: none;
  }

  .pad0{
    padding: 0
  }  

  .margin0{
    margin: 0;
  }
  .mtop10{
    margin-top: 10px;
  }

  .mtop15{
    margin-top: 15px;
  } 

  .mtop30{
    margin-top: 30px;
  }
  .mtop20{
    margin-top: 20px;
  }
  .mobile_mtop70{
    margin-top: 70px;
  }

  .mleft15{
    margin-left: 15px;
  }

  .mleft4em, 
  .mleft6em, .mright2em{
    margin-left: 0;
  }

  .navbar-fixed-top {
    top: -8px;
    border-width: 0 0 1px;
  }


  
  .web_banner{
      display: none;
  }

  .m_banner{
    display: block;
    background-image: url("../img/bg-mob.jpg");
    height: 586px;
    background-repeat: no-repeat;
    background-position: center;
  } 
  .mobilform{
    display: block;    
  }

  #feedbackForm {
    width: 280px;
    margin: 20px auto;
    background: #fff;
    border: 1px solid #ccc;
  }

  .about2ndSection .mleft{
    margin-left: 15%;
  }  

  .problems > .description{
      padding: 0;
  }

  .problemsimg{
    position: relative;
    left: auto;

  }

  .problemsText{
    position: relative;
    top: auto;
    font-size: 20px;
    color: #2eabc3;
    text-align: center;
  }

  .science2nd p {
    padding: 0;
  }


  .stageOneSec, .stageTwoSec, .stageThreeSec, .stageFourSec{
    padding: 20px 7px;
  }

  .cycle .wrapper {
    margin-left: 0;
    width: 100%;
    margin-top:0;
  } 

  .cycle{
    background: none;
  }

  .cycle div.mtop{
    margin-top: 45px;
  }

  .blue_gradient {
    background-image: url(img/adbg.jpg);
    background-repeat: no-repeat;
    
    background-size: cover;
    color: #fff;
    margin-top: 50px;
  }

  .strengths, .updates{
    background: none;
    padding: 0;
  }

  .benefits {
    background-image: url(./img/benefits_mobile.png);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0 80px;
    margin: 75px 0;
    min-height: 350px;
  } 
  
  .strength .col-md-7 {
    position: relative;
    left: 12px;
  }


  

  footer p.statement{
    padding: 0;
    text-align: left;
    color: #fff;
  }

  .secondaryFooter{
    margin: 0;
    
  }

  .strength h5{
    margin: 15px 0px;
  }

  .updates .col-md-8 {
    background-color:#05617b;
    background-position: left;
    background-repeat: no-repeat;
    padding: 70px 30px;
  }

  section.carouselSec {
    background-image: none;
  }

  .displayblock{
    display: block;
  }
  


  /* Carasouel Styles Starts Here */

  .carousel{
    display: none;
  }

  .mobile-user-info {
    border: 1px solid #ccc;
    margin: 15px;
    background: #ffffff;
    padding: 11px 13px;
    text-align: center;
    position: relative;
    display: inline-block;
  }

  .mobile_view{
    display: block;
  }

  .desktop_view{
    display: none;
  }

  .user_block {
    position: relative;
  }

  .user_name {
    margin-right: 11px;
    margin-top: 15px;
    position: relative;
    z-index: 1;  
  }
  .mobile-user_info h6 {
    
    font-size: 20px;
  }

   /* Carasouel Styles Ends Here */
  

  
 
}